@model IEnumerable<ApplicationCore.Models.JobResponseModel>

@{
    ViewData["Title"] = "Jobs";
}

<h1>Jobs</h1>

<p>
    <a asp-action="Create" asp-controller="Jobs">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                JobCode
            </th>
            <th>
                Number of Positions
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Start Date
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPositions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    <a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>


            </tr>
        }
    </tbody>
</table>